In [19]:
import pandas as pd
import numpy as np

In [22]:

df = pd.read_csv("Iris.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             92 non-null     int64
 1   SepalLengthCm  92 non-null     float64
 2   SepalWidthCm   92 non-null     float64
 3   PetalLengthCm  92 non-null     float64
 4   PetalWidthCm   92 non-null     float64
 5   Species        92 non-null     object
dtypes: float64(4), int64(1), object(1)
memory usage: 4.4+ KB

In [4]:
df.shape

(92, 6)

In [5]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [6]:
df.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
87,146,6.7,3.0,5.2,2.3,Iris-virginica
88,147,6.3,2.5,5.0,1.9,Iris-virginica
89,148,6.5,3.0,5.2,2.0,Iris-virginica
90,149,6.2,3.4,5.4,2.3,Iris-virginica
91,150,5.9,3.0,5.1,1.8,Iris-virginica

In [7]:
df[1:5]

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [8]:
df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [9]:
for i in df["PetalLengthCm"]:
    print(i)

1.4
1.4
1.3
1.5
1.4
1.7
1.4
1.5
1.6
1.5
1.5
1.4
1.5
1.2
1.3
1.5
1.3
1.5
1.3
1.3
1.3
1.6
1.9
1.4
1.6
1.4
1.5
1.4
4.7
4.5
4.9
4.0
4.6
4.4
4.5
4.8
5.0
4.5
3.5
3.8
3.7
3.9
5.1
4.5
4.5
4.7
4.4
4.1
4.0
4.4
4.6
4.0
3.3
4.2
4.2
4.2
4.3
3.0
4.1
6.0
5.1
5.9
5.6
5.8
6.6
4.5
6.3
5.8
6.1
5.0
5.7
4.9
6.7
4.9
5.7
5.1
5.6
6.1
5.6
5.5
4.8
5.4
5.6
5.1
5.1
5.9
5.7
5.2
5.0
5.2
5.4
5.1

In [10]:
df[df["PetalLengthCm"]>3]

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
28,51,7.0,3.2,4.7,1.4,Iris-versicolor
29,52,6.4,3.2,4.5,1.5,Iris-versicolor
30,53,6.9,3.1,4.9,1.5,Iris-versicolor
31,54,5.5,2.3,4.0,1.3,Iris-versicolor
32,55,6.5,2.8,4.6,1.5,Iris-versicolor
...,...,...,...,...,...,...
87,146,6.7,3.0,5.2,2.3,Iris-virginica
88,147,6.3,2.5,5.0,1.9,Iris-virginica
89,148,6.5,3.0,5.2,2.0,Iris-virginica
90,149,6.2,3.4,5.4,2.3,Iris-virginica
91,150,5.9,3.0,5.1,1.8,Iris-virginica

In [11]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count   92.000000      92.000000     92.000000      92.000000     92.000000
mean    82.304348       5.852174      3.032609       3.858696      1.252174
std     42.854915       0.817054      0.403313       1.736433      0.765388
min      1.000000       4.400000      2.200000       1.200000      0.100000
25%     45.750000       5.100000      2.800000       1.575000      0.300000
50%     87.500000       5.800000      3.000000       4.450000      1.400000
75%    112.500000       6.500000      3.225000       5.100000      1.800000
max    150.000000       7.700000      4.200000       6.700000      2.500000

In [12]:
df.set_index('Id', inplace= True)

In [13]:
df.reset_index(inplace=True)
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
87,146,6.7,3.0,5.2,2.3,Iris-virginica
88,147,6.3,2.5,5.0,1.9,Iris-virginica
89,148,6.5,3.0,5.2,2.0,Iris-virginica
90,149,6.2,3.4,5.4,2.3,Iris-virginica
91,150,5.9,3.0,5.1,1.8,Iris-virginica

In [14]:
df.isna().sum()#giá trị null

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [15]:
df["SepalLengthCm"][2]

4.7

In [21]:
df.iloc[0][1]

C:\Users\Admin\AppData\Local\Temp\ipykernel_23488\2309508539.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df.iloc[0][1]

5.1

In [20]:
list1 = np.array(df.iloc[0])
print(list1)

[1 5.1 3.5 1.4 0.2 'Iris-setosa']

In [25]:
a_check = np.array(df.iloc[1])
print(a_check)
print(type[a_check])
print(type(np.array([1,2,3,4,5])))

[2 4.9 3.0 1.4 0.2 'Iris-setosa']
type[array([2, 4.9, 3.0, 1.4, 0.2, 'Iris-setosa'], dtype=object)]
<class 'numpy.ndarray'>